* {
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
  background-color: #779CAB;
  padding-bottom: 30px;
}

#profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 570px) {
  #profile {
    justify-content: center;
  }
}
#profile #basic {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  color: #202020;
}
#profile img {
  width: 30%;
  height: auto;
  border-radius: 10%;
}
@media (max-width: 570px) {
  #profile img {
    display: none;
  }
}
#profile div {
  margin-left: 20px;
}
#profile div h1 {
  font-size: clamp(2.5rem, 5vw, 3rem);
}
@media (max-width: 570px) {
  #profile div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #profile div h2 {
    width: auto;
    display: inline-block;
  }
}

#parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

#skills {
  display: flex;
  flex-direction: row;
  flex-grow: 0.8;
  justify-content: space-around;
  width: auto;
  padding: 1rem;
  background-color: #35374B;
  color: #DCC7BE;
  border-radius: 0 20px 20px 0;
}
#skills .outer {
  list-style: none;
}
#skills .outer > li:not(:last-child) {
  margin-bottom: 20px;
}
#skills .inner {
  list-style: none;
}
#skills #favs {
  padding-inline: 1rem;
}
#skills #vbar {
  height: 100%;
  width: 1px;
  background-color: #DCC7BE;
}
#skills #others {
  padding-inline: 1rem;
}
#skills #others ul {
  list-style: none;
}
#skills h4 {
  margin-bottom: 10px;
  font-size: clamp(1.5rem, 3vw, 4rem);
  white-space: nowrap;
}
#skills #favs p {
  margin-bottom: 5px;
  font-size: clamp(1.5rem, 3vw, 3rem);
  text-decoration: underline;
}
#skills .skill {
  font-size: clamp(1.2rem, 3vw, 2rem);
}

#socials {
  width: 30%;
  margin-right: 10px;
}
#socials h4 {
  margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
  color: #202020;
}
#socials div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#socials div ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.5em;
}
#socials div ul li {
  margin-bottom: 10px;
}
#socials .svg {
  fill: #35374B;
  width: 10vw;
}
#socials .svg:hover {
  fill: #4A4D69 !important;
  text-decoration: none;
}

@media (max-width: 700px) {
  #socials {
    margin-right: 20px;
  }
  #socials h4 {
    display: none;
  }
  #socials div {
    display: flex;
    flex-direction: column;
    justify-self: space-between;
    align-items: flex-end;
  }
  #socials div ul {
    display: block;
  }
}
@media (max-width: 570px) {
  #bioAndSkills {
    width: 60%;
  }
  #socials {
    justify-content: center;
    width: 20%;
    margin-left: 10px;
    margin-right: 10px;
  }
}
#highlights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
}
#highlights #education, #highlights #achievements, #highlights #projects {
  width: 25%;
  border-radius: 0 20px 20px 0;
  padding: 20px;
  padding-left: 30px;
  background-color: #35374B;
  color: #DCC7BE;
}
#highlights #education h4, #highlights #achievements h4, #highlights #projects h4 {
  font-size: 1.75em;
  text-decoration: underline;
  margin-bottom: 10px;
}
#highlights #education ul, #highlights #achievements ul, #highlights #projects ul {
  font-size: 1.45em;
}
#highlights #education ul > li > ul, #highlights #achievements ul > li > ul, #highlights #projects ul > li > ul {
  margin-left: 30px;
  list-style-type: square;
  font-size: 0.9em;
}
#highlights #achievements {
  border-radius: 20px;
}
#highlights #projects {
  border-radius: 20px 0 0 20px;
}
#highlights #projects a {
  color: #CEB0A4;
  text-decoration: none;
}
#highlights #projects a:hover {
  color: #E9DBD6;
}

@media (max-width: 750px) {
  #highlights {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
  }
  #highlights #education, #highlights #achievements, #highlights #projects {
    width: 80%;
    border-radius: 20px;
  }
  #highlights > div:not(:last-child) {
    margin-bottom: 20px;
  }
}

/*# sourceMappingURL=index.css.map */
