* {
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
  background-color: #779CAB;
  padding-bottom: 30px;
}

#profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#profile #basic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 20px;
  color: #202020;
}
#profile img {
  width: 30%;
  height: auto;
  border-radius: 10%;
}
@media (max-width: 980px) {
  #profile #basic {
    width: 60%;
    font-size: 0.8em;
  }
}
@media (max-width: 700px) {
  #profile img {
    width: 40%;
  }
}
#profile div {
  margin-left: 20px;
}
#profile div h1 {
  font-size: 3em;
}

#parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

#bioAndSkills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
#bioAndSkills #bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #35374B;
  color: #DCC7BE;
  font-size: 1.3em;
  border-radius: 0 20px 20px 0;
}
#bioAndSkills #skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  margin-top: 20px;
  padding: 20px;
  background-color: #35374B;
  color: #DCC7BE;
  border-radius: 0 20px 20px 0;
}
#bioAndSkills #skills #favs {
  margin-left: 10px;
  margin-right: 20px;
}
#bioAndSkills #skills #vbar {
  height: 100%;
  width: 1px;
  background-color: #DCC7BE;
}
#bioAndSkills #skills #others {
  margin-left: 35px;
}
#bioAndSkills #skills h4 {
  margin-bottom: 10px;
  font-size: 2em;
}
#bioAndSkills #skills #favs p {
  margin-bottom: 5px;
  font-size: 1.5em;
  text-decoration: underline;
}
#bioAndSkills #skills ul {
  list-style-type: circle;
  font-size: 1.2em;
}
@media (max-width: 980px) {
  #bioAndSkills #skills {
    width: 60%;
  }
}
@media (max-width: 570px) {
  #bioAndSkills #skills {
    width: 80%;
  }
}

#socials {
  width: 20%;
  margin-right: 5%;
}
#socials h4 {
  margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
  color: #202020;
}
#socials div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#socials div ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.5em;
}
#socials div ul li {
  margin-bottom: 10px;
}
#socials .svg {
  fill: #35374B;
  width: 100px;
}
#socials .svg:hover {
  fill: #4A4D69 !important;
  text-decoration: none;
}
@media (max-width: 1110px) {
  #socials .svg {
    width: 80px;
  }
}

@media (max-width: 880px) {
  #socials {
    margin-right: 10px;
  }
  #socials div {
    display: flex;
    flex-direction: column;
    justify-self: space-between;
    align-items: center;
  }
  #socials div ul {
    display: block;
  }
}
@media (max-width: 570px) {
  #bioAndSkills {
    width: 80%;
  }
  #socials {
    justify-content: flex-end;
    width: 20%;
    margin-left: 40px;
  }
  #socials h4 {
    text-align: center;
  }
}
#highlights {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: auto;
}
#highlights #education {
  width: 25%;
  border-radius: 0 20px 20px 0;
  padding: 20px;
  padding-left: 30px;
  background-color: #35374B;
  color: #DCC7BE;
}
#highlights #education h4 {
  font-size: 1.75em;
}
#highlights #education ul {
  font-size: 1.45em;
}
#highlights #education ul > li > ul {
  margin-left: 30px;
  list-style-type: square;
  font-size: 0.9em;
}
#highlights #achievements {
  width: 25%;
  border-radius: 20px;
  padding: 20px;
  padding-left: 30px;
  background-color: #35374B;
  color: #DCC7BE;
}
#highlights #achievements h4 {
  font-size: 1.75em;
}
#highlights #achievements ul {
  font-size: 1.45em;
}
#highlights #achievements ul > li > ul {
  margin-left: 30px;
  list-style-type: square;
  font-size: 0.9em;
}
#highlights #projects {
  width: 25%;
  border-radius: 20px 0 0 20px;
  padding: 20px;
  padding-left: 30px;
  background-color: #35374B;
  color: #DCC7BE;
}
#highlights #projects h4 {
  font-size: 1.75em;
}
#highlights #projects ul {
  font-size: 1.25em;
}
#highlights #projects ul > li > ul {
  margin-left: 30px;
  list-style-type: square;
  font-size: 0.9em;
}
#highlights #projects a {
  color: #CEB0A4;
  text-decoration: none;
}
#highlights #projects a:hover {
  color: #E9DBD6;
}

/*# sourceMappingURL=index.css.map */
