* {
  margin: 0;
  padding: 0;
}

body {
  font-family: serif;
  background-color: #50727B;
}

#profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-bottom: 45px;
  background: linear-gradient(180deg, #78A083 75%, #50727B 100%);
}
#profile #basic {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 40%;
  padding: 20px;
}
#profile #tagLine {
  width: 60%;
  padding-right: 20px;
  text-align: center;
  font-size: 2.2em;
  font-weight: 600;
}
#profile img {
  width: 40%;
  height: auto;
  border-radius: 10%;
}
#profile div {
  margin-left: 20px;
}
#profile div h1 {
  font-size: 3em;
}

#parent {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

#bioAndSkills {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 70%;
}
#bioAndSkills #bio {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #35374B;
  color: #DCC7BE;
  font-size: 1.1em;
  border-radius: 0 20px 20px 0;
}
#bioAndSkills #skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 40%;
  margin-top: 20px;
  padding: 20px;
  background-color: #35374B;
  color: #DCC7BE;
  border-radius: 0 20px 20px 0;
}
#bioAndSkills #skills #favs {
  margin-left: 10px;
  margin-right: 20px;
}
#bioAndSkills #skills #vbar {
  height: 100%;
  width: 1px;
  background-color: #DCC7BE;
}
#bioAndSkills #skills #others {
  margin-left: 35px;
}
#bioAndSkills #skills h4 {
  margin-bottom: 10px;
  font-size: 2em;
}
#bioAndSkills #skills #favs p {
  margin-bottom: 5px;
  font-size: 1.5em;
  text-decoration: underline;
}
#bioAndSkills #skills ul {
  list-style-type: circle;
  font-size: 1.1em;
}

#socials {
  width: 20%;
  margin-right: 5%;
}
#socials h4 {
  margin-bottom: 10px;
  font-size: 2em;
  text-align: center;
  color: #35374B;
}
#socials div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#socials div ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  font-size: 1.5em;
}
#socials div ul li {
  margin-bottom: 10px;
}
#socials .svg {
  fill: #35374B;
  width: 100px;
}
#socials .svg:hover {
  fill: #4A4D69 !important;
  text-decoration: none;
}
@media (max-width: 1110px) {
  #socials .svg {
    width: 80px;
  }
}

#educationAndProjects {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: auto;
}
#educationAndProjects #education {
  width: 30%;
  padding: 20px;
  background-color: #35374B;
  color: #DCC7BE;
}
#educationAndProjects #education h4 {
  font-size: 2em;
}
#educationAndProjects #education ul {
  font-size: 1.1em;
}
#educationAndProjects #education ul > li > ul {
  margin-left: 30px;
  list-style-type: square;
  font-size: 1em;
}
#educationAndProjects #projects {
  width: 50%;
  padding: 20px;
  background-color: #35374B;
  color: #DCC7BE;
}
#educationAndProjects #projects h4 {
  font-size: 2em;
}
#educationAndProjects #projects ul {
  font-size: 1.1em;
}
#educationAndProjects #projects ul > li > ul {
  margin-left: 30px;
  list-style-type: square;
  font-size: 1em;
}
#educationAndProjects #projects a {
  color: #CEB0A4;
  text-decoration: none;
}
#educationAndProjects #projects a:hover {
  color: #E9DBD6;
}

/*# sourceMappingURL=index.css.map */
