// $primary-color: #50727B;
$primary-color: #779CAB;
$secondary-color: #35374B;
// $secondary-color: #101010;
$text-color: #DCC7BE;
// $text-color: #e0e0e0;
// $text-no-background: #25273B;
$text-no-background: #202020;

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: serif;
	background-color: $primary-color;
	padding-bottom: 30px;
}

#profile {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	@media (max-width: 570px) {
		justify-content: center;
	}

	#basic {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: center;
		// width: 60%;
		padding: 20px;
		color: $text-no-background;

		
	}

	img {
		width: 30%;
		height: auto;
		border-radius: 10%;

		@media (max-width: 570px) {
			display: none;
		}
	}

	div {
		margin-left: 20px;

		h1 {
			font-size: clamp(2.5rem, 5vw, 3rem);
		}

		@media (max-width: 570px) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			
			h2 {
				width: auto;
				display: inline-block;
			}
		}
	}
}

#parent {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 20px;
}

	#skills {
		display: flex;
		flex-direction: row;
		flex-grow: 0.8;
		justify-content: space-around;
		width: auto;
		padding: 1rem;
		background-color: $secondary-color;
		color: $text-color;
		border-radius: 0 20px 20px 0;

		.outer {
			list-style: none;
			
			> li:not(:last-child) {
				margin-bottom: 20px;
			}
		}

		.inner {
			list-style: none;
		}

		#favs {
			padding-inline: 1rem;
		}

		#vbar {
			height: 100%;
			width: 1px;
			background-color: $text-color;
		}

		#others {
			padding-inline: 1rem;

			ul {
				list-style: none;
			}
		}

		h4 {
			margin-bottom: 10px;
			font-size: clamp(1.5rem, 3vw, 4rem);
			white-space: nowrap;

			// @media (max-width: 570px) {
			// 	font-size: 1.5rem;
			// }
		}

		#favs p {
			margin-bottom: 5px;
			font-size: clamp(1.5rem, 3vw, 3rem);
			text-decoration: underline;
		}

		.skill {
			font-size: clamp(1.2rem, 3vw, 2rem);
		}
	}

#socials {
	width: 30%;
	margin-right: 10px;

	h4 {
		margin-bottom: 10px;
		font-size: 2em;
		text-align: center;
		color: $text-no-background;
	}

	div {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		ul {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			list-style-type: none;
			font-size: 1.5em;

			li {
				margin-bottom: 10px;
			}
		}
	}

	.svg {
		fill: $secondary-color;
		width: 10vw;

		&:hover {
			fill: #4A4D69 !important;
			text-decoration: none;
		}
	}
}

@media (max-width: 700px) {
	#socials {
		margin-right: 20px;

		h4 {
			display: none;
		}

		div {
			display: flex;
			flex-direction: column;
			justify-self: space-between;
			align-items: flex-end;


			ul {
				display: block;
			}
		}
	}
}

@media (max-width: 570px) {
	#bioAndSkills {
		width: 60%;
	}

	#socials {
		justify-content: center;
		width: 20%;
		margin-left: 10px;
		margin-right: 10px;
	}
}

#highlights {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 50px;

	#education, #achievements, #projects {
		width: 25%;

		border-radius: 0 20px 20px 0;

		padding: 20px;
		padding-left: 30px;
		background-color: $secondary-color;
		color: $text-color;

		h4 {
			font-size: 1.75em;
			text-decoration: underline;
			margin-bottom: 10px;
		}

		ul {
			font-size: 1.45em;

			> li > ul {
			margin-left: 30px;
			list-style-type: square;
			font-size: 0.9em;
			}
		}
	}

	#achievements {
		border-radius: 20px;
	}

	#projects {
		border-radius: 20px 0 0 20px;

		a {
			color: #CEB0A4;
			text-decoration: none;

			&:hover {
			color: #E9DBD6;
			}
		}
	}
}

@media (max-width: 750px) {
	#highlights {
		flex-direction: column;
		justify-content: center;
		align-items: center;

		width: 100vw;

		#education, #achievements, #projects {
			width: 80%;

			border-radius: 20px;
		}

		> div:not(:last-child) {
			margin-bottom: 20px;
		}
	}
}